<div id="shippers" class="page-layout blank p-24" fusePerfectScrollbar>

  <div class="table-wrapper" *ngIf="this.dataSource.data.length">

    <div class="example-header search-bar">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="this.dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Shipper Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{(!element.company_name ? 'N/A' : element.company_name)}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{(!element.company_email ? 'N/A' : element.company_email)}}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{(!element.company_phone_number ? 'N/A' : element.company_phone_number)}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="domain">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Forwarder Domain </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{(!element.domain ? 'N/A' : element.domain)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.created_at.split(' ')[0]  }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
  <div *ngIf="this.dataSourceAvailable">
    <h1>No data available!</h1>
  </div>

</div>

