.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.search-bar {
  max-width: 300px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-paginator-page-size-label {
  min-width: 60%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

/* Styles for tab labels */
// .mat-tab-label {
//   min-width: 25px !important;
//   padding: 5px;
//   background-color: transparent;
//   color: red;
//   font-weight: 700;
// }

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  // min-width: 25px !important;
  // padding: 5px;
  background-color: #3649af;
  color: #ffffff;
  opacity: 1;
  // font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background-color: #3649af;
  color: white;
}

.label {
  color: #ffffff !important;
  width: 118px !important;
  height: 56px !important;
  background-color: #3649af !important;
}

.sub-data {
  color: #5C6BC0;
  cursor: pointer;
}

.sub-data:hover {
  text-decoration: underline;
}

.example-container {
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
}

.sr-no {
  max-width: 6%;
}

.table-wrapper {
  padding: 20px;
}

.back-button {
  color: #000000;
  font-size: 16px;
}

.collapse-arrow {
  color: #000000;
}

.container-dropdown {
  max-width: 150px;
  padding-left: 20px;
}
